body {
  resize: both;
  overflow: auto;
  font-size: 16px;
  width: 100%;
}

#main{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 1rem;
  grid-row: auto;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.cardDiv {
  margin-top: 2rem;
  background: rgb(228, 219, 219);
  width: 23rem;
  border-radius: 3rem;
  align-items: center;
  margin-left: 3rem;
}

.cardTitle {
  padding-top: 1rem;
  text-align: center;
}

.cardImage{
  width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.cardDescription {
  padding: 2rem;
}
.cardButton{
  padding: 1rem;
  text-align: center;
  width: 23rem;
  border-radius: 2rem;
  background-color: aquamarine;
}
footer {
  border-radius: 1rem;
  background-color: azure;
  font-size: 10px;
}